__pycache__/
*.py[cod]
pyiges/*/*.igs
*benchmark.igs
_build

Thumbs.db
MANIFEST

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Sphinx documentation
docs/_build/

# Spyder project settings
.spyderproject
.spyproject

# Eclipse and pydev settings
.project
.pydevproject
.settings/
